/*
 * basic css
 *
 * copyright wesley van der vliet
*/
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  padding: 15px;
}

.footer-copyright {
  /* background-color: #292d31 !important; */
  flex-shrink: none;
}
.nav-link {
  outline: none!important;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
