RewriteEngine on
RewriteCond %{HTTP_HOST} !^http://localhost/programming-school/backend-development/mvc/ [NC]
RewriteRule ^(.*)$ http://localhost/programming-school/backend-development/mvc/$1 [L,R=301]

# werkt niet met mijn mvc methode ik snap alleen niet waarom. het is hetzlefde als in de app folder.
# <IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteRule ^$ model/ [L]
#  RewriteRule (.*) model/$1 [L]
# </IfModule
